.editor-main {
  display: flex;

  .editor-main-left {
    width: 100%;
    padding-right: 5%;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  .project-header-left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.title-status-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.project-title {
  color: #37352f;
  font-size: 40px;
  border: 0;
  outline: 0;
  width: fit-content;
  font-weight: normal;
  text-transform: capitalize;
  margin-right: 20px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  max-width: 100%;
}

.project-status {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px grey;
  border-radius: 500px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.date {
  color: #626262;
}

.editor-main {
  padding-left: 5%;
  padding-top: 100px;
}

.editor-main-left {
  display: flex;
  justify-content: center;
}

.editor-main-left-content {
  width: 100%;
  max-width: 500px;
}

.shake {
  animation: shake 0.4s;
  animation-delay: 0.2s;
  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-20px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
