.projects-main-header{
    display: flex;
    justify-content: space-between;
}

.projects-main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
}

.projects-main-desc {
  margin-bottom: 50px;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
