header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.header-right{
  display: flex;
  align-items: center;
}

.tools-container{
  margin-right: 50px;
  display: flex;
  gap: 20px;
}

.avatar{
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background: rgb(198, 198, 198);
  cursor: pointer;
}
