.helper {
  width: 0;
  height: 100vh;
  border-left: solid 1px #e1e1e1;
  transition: 0.2s ease;
  overflow: hidden;
  margin-top: -50px;
  position: sticky;
  top: 0;
  right: 0; 

  .helper-inner {
    padding-top: 30px;
    padding-left: 30px;
  }
}

.helper-visible {
  width: 350px;
}
