.project-card-link {
  &:hover {
    button {
      transform: translateY(0%);
    }
  }
}

.gradient-box {
  max-width: 280px;
  width: 100%;
  height: 280px;
  border-radius: 2px;
  margin-bottom: 25px;
  background: brown;
  background: linear-gradient(239deg, #e33535 23.97%, #dc5cf0 83.42%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  button {
    transform: translateY(500%);
    transition: 0.2s ease-in-out;
  }

  .slide-up {
    animation: slide-up 0.3s forwards;
    @keyframes slide-up {
      to {
        transform: translateY(0%);
      }
    }
  }
}

.not-selected {
  opacity: 0.5;
}

.project-status {
  width: fit-content;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px white;
  border-radius: 500px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: 25px;
  left: 25px;
}
