.section {
  &:hover {
    background: #fafafa;
    padding-left: 30px;
  }
  transition: 0.2s ease-in-out;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;

  p {
    outline: none;
  }
  width: 50%;
  border-radius: 2px;
}

.fade-in {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-type {
  margin-bottom: 20px;
  user-select: none;
}

.input-container {
  width: 100%;
  background: none;
  outline: none;
  cursor: text;
}

/* placeholder code */
[contentEditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
  cursor: text;
}
