.section {
  &:hover {
    background: #fafafa;
    padding-left: 30px;
  }
  transition: 0.2s ease-in-out;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  cursor: pointer;

  p {
    outline: none;
  }
  //width: 50%;
  border-radius: 2px;
}

.selected {
  padding-left: 30px;
  background: #fafafa;
}

.not-selected {
  opacity: 0.5;
}

/*.fade-in {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/

.section-type-wrap {
  position: relative;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  gap: 10px;
}

.section-type {
  font-size: 14px;
  margin-bottom: 20px;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  padding: 8px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  display: inline-block;
  &:hover {
    background: rgb(230, 230, 230);
  }

  &.chosen {
    position: relative;
    z-index: 1;
  }

  &.option{
    background: #191919;
    color: white;
  }
}

.slide-out {
  @keyframes slide-out {
    to {
      transform: translateX(0%);
    }
  }
}

.input-container {
  width: 100%;
  background: none;
  outline: none;
  cursor: text;
  line-height: 1.8;
  padding-left: 8px;
}

/* placeholder code */
[contentEditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
  cursor: text;
}

.line {
  //display: block;
}
